*{
    font-family: sans-serif;
}

body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left:3%;
    margin-right: 3%;
    background-color: #a6d7c6 ;
    background-image: url(sallon.jpg);
    backdrop-filter:blur(50%);

}

#floatingBody{
    background-color: #b6b6b6;
    border-radius: 0.3rem;
    padding: 3%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.103);
    margin-bottom: 1%;
    height: 100% ;


}

h1 {
    font-size: 3rem;
    text-align: center;
}

#choose {
    border-radius: 0.5rem;
    padding: 1%;

}

h2 {
    Font-size: 2rem;
}

header > img {
    display: block;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    max-width: 95%; /* torna a imagem mais responsiva se adequando automaticamente ao tamanho máximo da tela */
    height: auto;

}

nav {
    padding: 0.5rem;
    background-color: #FFDAB9; /* cor de fundo do menu */
    text-align: center;
    border-style: solid;
    border-color: #fff;
    border-width: 5px;
}

nav div {
    list-style: none;
    text-align: center;
    background-color: #FFDAB9; /* cor de fundo do menu */

}

nav li {
    display: inline-block;
    font-size: 0.7rem;
    background-color: #FFDAB9; /* cor de fundo do menu */

}

nav a {
    color: #2c2c2c;
    text-decoration: none;
    background-color: #FFDAB9; /* cor de fundo do menu */
    padding: 0.5rem
}

nav a:hover {
    background-color: #fff; /* cor de fundo do link ao passar o mouse */
    color: #008b61; /* cor do texto do link ao passar o mouse */
}

section { 
    display: flex;
}

#choose h1 {
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.233);
    color: #000000;
    background-color: #2c2c2c;
    background-image: url(sallonchoose.jfif);
    backdrop-filter:blur(50%);
    background-size: cover;
    background-position: center; /* centraliza a imagem vertical e horizontalmente */
    height: 15%;
    padding: 3%;
    border-radius: 0.3rem;
}

#choose .gridService { 
    display: grid;
    height: 10rem;
    grid-template-rows: 0.5fr 0.5fr; /* define duas fileiras com altura igual */
    grid-template-columns: 1fr 1fr 1fr; /* define três colunas com largura igual */
    padding: 3%
}

.gridService img{
    max-width: 30%;

}

#color {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;
    

}

#cut {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;

}

#allColor {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;

}

#cTreatment {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;

}
#massage {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;

}
#barber {
    background-color: #FFDAB9 ;
    border-radius: 5px;
    padding: 3%;
    text-align: justify;
    border-style: solid;
    border-color:#8b5a00;
    border-width: 1px;
    margin: 1.5%;
}




article {
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    flex: 1;

}

#footerLogo{
   width: 10%
}


footer img{
    padding: 16px;
    width: 20%;

}

@media screen and (max-width: 600px) {
    nav li {
      display: block;
      margin: 10px 0;
    }
}